<h1>Editar Pessoa Juridica</h1>

<%= render partial:"form", locals:{texto_da_acao: "Atualizar"} %><!-- Renderiza a partial _form.html.erb (Conteúdo)-->

<div class="botoes_center">
	<%= link_to 'Visualizar', @juridica, class: "btn btn-default " %> |
	<%= link_to 'Voltar', juridicas_path, class: "btn btn-default " %>
</div>
