<h1>Nova Pessoa Jurídica</h1>

<%= render partial:"form", locals:{texto_da_acao: "Cadastrar"} %> <!-- Renderiza a partial _form.html.erb -->

<%= link_to 'Voltar', juridicas_path, class: "btn btn-primary botoes_fisicas botoes_center" %>
