<h1>Minha Empresa</h1>

<%= render partial:"form", locals:{texto_da_acao: "Cadastrar"} %> <!-- Renderiza a partial _form.html.erb -->

<%= link_to 'Voltar', juridicas_path, class: "btn btn-default botoes_center" %>
