<section class="container">
  
  <%=image_tag("checkin2.png", class: "checkin2")%>

	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			  <div class="form-group">
			    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
			    <small id="emailHelp" class="form-text text-muted">Site seguro</small>
			  </div>
			  <div class="form-group">
			    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
			  </div>
		</div>		
	</div>
  
  <%=link_to "Enviar", fisicas_path, class: "btn btn-delete botoes_home" %>
</section>