<h1>Editar Pessoa Fisica</h1>

<%= render partial: "form", locals:{texto_da_acao: "Atualizar"} %> <!-- Renderiza a partial _form.html.erb (Conteúdo)-->

<div class="botoes_center">
	<%= link_to 'Visualizar', @fisica, class:"btn btn-default" %> |
	<%= link_to 'Voltar', fisicas_path, class:"btn btn-default"%>
</div>
