<h1>Editar Pessoa Fisica</h1>

<%= render partial: "form", locals:{texto_da_acao: "Atualizar"} %> <!-- Renderiza a partial _form.html.erb -->

<%= link_to 'Visualizar', @fisica %> |
<%= link_to 'Voltar', fisicas_path, class:"btn btn-secondary"%>
