<h1>Meu Cadastro</h1>

<%= render partial: "form", locals:{texto_da_acao: "Cadastrar"} %> <!-- Renderiza a partial _form.html.erb -->

<%= link_to 'Voltar', fisicas_path, class: "btn btn-default botoes_center" %>
 