/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 						/*Header style*/


/*Background do Navbar*/

 .navbar-default{
 	background-color: #67b7b3; 
 }

/*Cor dos itens do menu + background do menu ativo*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	color: #fff;
	background-color: #5caaa6;
}

/*Cor dos itens do menu*/

.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-size: 18px;
}
.navbar-default .navbar-brand{
	color: #fff;
}

/*Efeito Hover do menu*/
.navbar-nav>li>a:hover{
	background-color: #5caaa6 !important; 
	color: #fff !important;
}

					/*Corpo do site*/

/*Centralizando os Títulos de cada página*/

h1{
	text-align: center;
}

/*Centraliazndo os botoes*/
.botoes_center{
	margin: 12px auto;
	display: table;
}

/*Texto responsável por Cadastrar e Atualizar*/

.botao_texto_da_acao{
	margin: 20px auto;
	display: table;
}

/*Botões da tabela (Visualizar, editar, deletar)*/

.botoes_index{
	width: 10%;
}

.logo_position{
	margin: 0 auto;
	display: table;
}
.menuzin{
	margin-left: 40px !important;
	margin-top: -8px;
}

.btn-view{
	background-color: #67b7b3;
	border-color: #67b7b3;
}
.btn-view:hover{
	background-color: #67b7b3;
}
.btn-edit{
	background-color: #fca044;
	border-color: #fca044;
}
.btn-edit:hover{
	background-color: #fca044;
}
.btn-delete{
	background-color: #ff6969;
	border-color: #ff6969;
}
.btn-delete:hover{
	background-color: #ff6969;
}

.botao_add{
	margin-bottom: 10px;
}

#h2_socios{
	text-align: center;
}

