// Place all the styles related to the Fisicas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Cor das letras dos botões*/

.botoes_fisicas{
	color:#fff !important;
}

/*Css responsivo de Pessoa Física*/

@media(min-width:992px){
	.fisica-nome{
		margin-left: 48%;
		margin-top: -23%;
		margin-bottom: 10%;	
	}
	.fisica-sobre{
		margin-left: 48%;
		margin-top: -8%;
		margin-bottom:22%;
	}
	.ul-validate{
		margin-left: 41%;
		margin-top: -18%;
		margin-bottom: 10%;
		font-size: 14px;
	}
	.ul-validate li{
		display: inline;
		padding-right: 4px;
		list-style: none;
	}
	.validates-background{
		color: #fff;
		font-weight: bold;
		background: #f4e242;
		padding: 2px;
		border-radius: 4px;
	}
	.botoes_validate{
		font-weight: bold;
		padding-left: 32%;
		padding-right: 32%;
		padding-top: 4%;
		padding-bottom: 4%;
	}

}

#validate-bold{
	font-weight: bold;
}
.conheco{
	margin: 0 auto;
	display: table;
}
.secti-conheco{
	margin-bottom: 10%;
}

.h2{
	font-weight: bold;
}

.ul-validate li{
	list-style: none;
}